* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Outfit", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 30px;
    background-color: #d6e2f0;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #ffffff;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

.card__image {
    width: 100%;
}

.card__title {
    font-size: 24px;
    font-weight: 700;
    color: #1f3251;
}

.card__paragraph {
    font-size: 18px;
    color: #7b879d;
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}